@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #fff;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, san-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 25px;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 3em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20 px15px;
}

button, a {
  margin: 3px 0;
}

button, button:hover {
  background: none;
  border: none;
  color: var(--text-light);
  font-family: var(--primary-font);
  font-size: 30px;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

main {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--text-dark);
  background-color: lightgrey;
  padding: 20px;
}

main img {
  border: 8px solid white;
  box-shadow: 5px 5px 10px black;
  margin: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-family: var(--primary-font);
  padding: 20px 0px 20px 10%;
}

a:link,
a:visited {
  color: var(--text-light);
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  overflow: hidden;
}

.close-viewer {
  color: var(--text-light);
  font-size: 1.5em;
  grid-row: 1/2;
  justify-self: end;
  padding: 50px;
  z-index: 3;
  cursor: pointer;
}

.viewer img {
  grid-row: 2/3;
  max-height: 100%;
  max-width: 90%;
  margin: auto;
  object-fit: contain;
}

@media only screen and (max-width: 934px) and (min-width: 700px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

 a {
    display: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 935px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

 a {
    margin: 5px 10px; 
  }

  button {
    display: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .viewer {
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
  }

  .viewer img {
    max-height: 90%;
    max-width: 90%;
    padding: 0 5% 10% 5%;
    object-fit: contain;
    overflow: auto;
  }
}