body {
    border: solid #aaaaaa 1px;
    width: 1000px;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-weight: 500;
    font-family: 'Times New Roman';
    font-size: 20px;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
}

main {
    padding-left: 20%;
    padding-right: 20%;
    
}

h1 {
    font-family: 'Times New Roman';
    padding-top: 50px;
}

h2 {
    font-family: 'Times New Roman';
    font-size: 18px;
    margin-bottom: 3px;
}

hr {
    border-top: 1px;
    margin-top: 0px;
    width: 65%;
    margin-bottom: 50px;
    color: #dddddd;
}

h2 {
    color: #006EB6;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #0095F7
}